<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Connect</servlet-name>
        <servlet-class>connection.Connect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Auto_Gen_ID</servlet-name>
        <servlet-class>connection.Auto_Gen_ID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>connection.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>connection.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMyAccount</servlet-name>
        <servlet-class>connection.EditMyAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>connection.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCourse</servlet-name>
        <servlet-class>connection.NewCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadItem</servlet-name>
        <servlet-class>connection.UploadItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comment</servlet-name>
        <servlet-class>connection.Comment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comment1</servlet-name>
        <servlet-class>connection.Comment1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadItem1</servlet-name>
        <servlet-class>connection.UploadItem1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadItem2</servlet-name>
        <servlet-class>connection.UploadItem2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Discussion</servlet-name>
        <servlet-class>connection.Discussion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dcomment</servlet-name>
        <servlet-class>connection.Dcomment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dcomment1</servlet-name>
        <servlet-class>connection.Dcomment1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Teacher</servlet-name>
        <servlet-class>connection.Teacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comment2</servlet-name>
        <servlet-class>connection.Comment2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dcomment2</servlet-name>
        <servlet-class>connection.Dcomment2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Document</servlet-name>
        <servlet-class>connection.Document</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>connection.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WithdrawBook</servlet-name>
        <servlet-class>connection.WithdrawBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FatchReturingBook</servlet-name>
        <servlet-class>connection.FatchReturingBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Renewable</servlet-name>
        <servlet-class>connection.Renewable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveBookPurchase</servlet-name>
        <servlet-class>connection.SaveBookPurchase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBook</servlet-name>
        <servlet-class>connection.ShowBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordService</servlet-name>
        <servlet-class>connection.PasswordService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Returning</servlet-name>
        <servlet-class>connection.Returning</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Result</servlet-name>
        <servlet-class>connection.Result</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Conselling</servlet-name>
        <servlet-class>connection.Conselling</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentConselling</servlet-name>
        <servlet-class>connection.StudentConselling</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Connect</servlet-name>
        <url-pattern>/connect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Auto_Gen_ID</servlet-name>
        <url-pattern>/auto_Gen_ID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMyAccount</servlet-name>
        <url-pattern>/editMyAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCourse</servlet-name>
        <url-pattern>/newCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadItem</servlet-name>
        <url-pattern>/uploadItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comment</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comment1</servlet-name>
        <url-pattern>/comment1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadItem1</servlet-name>
        <url-pattern>/uploadItem1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadItem2</servlet-name>
        <url-pattern>/uploadItem2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Discussion</servlet-name>
        <url-pattern>/discussion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dcomment</servlet-name>
        <url-pattern>/dcomment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dcomment1</servlet-name>
        <url-pattern>/dcomment1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Teacher</servlet-name>
        <url-pattern>/teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comment2</servlet-name>
        <url-pattern>/comment2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dcomment2</servlet-name>
        <url-pattern>/dcomment2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Document</servlet-name>
        <url-pattern>/document</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WithdrawBook</servlet-name>
        <url-pattern>/withdrawBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FatchReturingBook</servlet-name>
        <url-pattern>/fatchReturingBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Renewable</servlet-name>
        <url-pattern>/renewable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveBookPurchase</servlet-name>
        <url-pattern>/saveBookPurchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBook</servlet-name>
        <url-pattern>/showBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordService</servlet-name>
        <url-pattern>/passwordService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Returning</servlet-name>
        <url-pattern>/returning</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Result</servlet-name>
        <url-pattern>/result</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Conselling</servlet-name>
        <url-pattern>/conselling</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentConselling</servlet-name>
        <url-pattern>/studentConselling</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
